ejemplo1/CMakeFiles
ejemplo1/cmake_install.cmake
ejemplo1/CMakeCache.txt
ejemplo1/ejemplo1
ejemplo1/Makefile
ejemplo1/moc_ejemplo1.cpp
ejemplo1/moc_ejemplo1.cpp_parameters
ejemplo1/ui_counterDlg.h
timersimple/CMakeFiles
timersimple/cmake_install.cmake
timersimple/CMakeCache.txt
timersimple/ejemplo1
timersimple/Makefile
timersimple/moc_ejemplo1.cpp
timersimple/moc_ejemplo1.cpp_parameters
timersimple/ui_counterDlg.h
